body{
    padding: 0%;
    margin: auto;
    font-family: 'Kanit', sans-serif;
}
h1{
    font-weight: bold;
    text-align: left;
}
button{
    text-align: left;
}
.image-container {
    display: flex;
}
image{
    text-align: right;
}